<?xml version="1.0" encoding="UTF-8"?>  
<configuration status="OFF">  
  <appenders>  
    <Console name="Console" target="SYSTEM_OUT">  
      <PatternLayout pattern="[%d][%p] (%F:%L) %m%n"/>  
    </Console> 
    <File name="File" fileName="logs/all.log">  
      <PatternLayout pattern="[%d][%p] (%F:%L) %m%n"/>  
    </File> 
  </appenders>
    
  <loggers>  
    <root level="info">  
      <appender-ref ref="Console"/> 
      <appender-ref ref="File"/>  
    </root>  
  </loggers>  
</configuration>  